<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" style="margin-top: 45px">
                <div class="panel heading">
                    <H3 class="panel-title"> Please fill the fields above.</H3>
                    <div>
                        <div class="panel-body">
                            <form method="post" action="/register">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username"
                                           placeholder="Username" th:name="username"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email"
                                           placeholder="Email" th:name="email"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" id="password"
                                           placeholder="Password" th:name="password"/>
                                </div>
                                <div class="form-group">
                                    <label for="aboutMe">About Me</label>
                                    <input type="text" class="form-control" id="aboutMe"
                                           placeholder="AboutMe" th:name="aboutMe"/>
                                </div>
                                <button type="submit" class="btn btn-default">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>